<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- unless layout.override-link-target == true or page.override-link-target == true -%}
      {%- include change-link-target.html -%}
    {%- endunless -%}
    </div>
  </body>
</html>
